numpy       == 2.3.2
pandas      == 2.3.2
streamlit   == 1.48.1

# packages for interactive plotting
plotly      == 6.3.0
adjustText  == 0.8
joblib      == 1.5.1
altair      == 5.5.0
pyautogui   == 0.9.54