# Basic tools
numpy           == 1.25.2
pandas          == 2.0.3
joblib          == 1.4.2
python-dotenv   == 1.0.1

# Packages for natural language processing
nltk            == 3.8.1

# Connection to data
pyodbc          == 5.1.0
sqlalchemy      == 2.0.16
openpyxl        == 3.0.10
psycopg2-binary == 2.9.9
awscli          == 1.29.52
boto3           == 1.28.52
s3fs            == 0.4.2

# Plotting
matplotlib      == 3.8.4
seaborn         == 0.13.2
schemdraw       == 0.19
plotly          == 5.17.0
adjustText      == 0.8

# Web-scraping
requests        == 2.31.0
beautifulsoup4  == 4.12.2

# packages for presentation automation
python-pptx     == 0.6.22